v2.00/Organisation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Organisation"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  <xs:include schemaLocation="CountryCode.xsd" />

  <xs:element name="Organisations" nillable="true" type="ArrayOfOrganisation" />

  <xs:complexType name="ArrayOfOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organisation" nillable="true" type="Organisation" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Organisation">
    <xs:complexContent mixed="false">
      <xs:extension base="DataContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="APIKey" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LegalName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaysTax" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Version" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OrganisationType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BaseCurrency" type="currencyCode" />
          
          <!-- Added for v2.06 -->
          <xs:element minOccurs="1" maxOccurs="1" name="CountryCode" type="isoCountryCode" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsDemoCompany" type="trueOrFalse" />
          <xs:element minOccurs="1" maxOccurs="1" name="OrganisationStatus" type="organisationStatusCode" />
          
          <!-- Added for v2.08 -->
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrationNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FinancialYearEndDay" type="dayNumber" />
          <xs:element minOccurs="0" maxOccurs="1" name="FinancialYearEndMonth" type="monthNumber" />
          <xs:element minOccurs="0" maxOccurs="1" name="PeriodLockDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="EndOfYearLockDate" type="xs:dateTime" />
		  <xs:element minOccurs="0" maxOccurs="1" name="CreatedDateUTC" type="xs:dateTime" />
          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>