v2.00/Setup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" id="Setup" elementFormDefault="qualified">
  <xs:include schemaLocation="BaseTypes.xsd"/>
  <xs:include schemaLocation="CurrencyCode.xsd"/>
  <xs:include schemaLocation="Address.xsd"/>
  <xs:include schemaLocation="Account.xsd"/>

  <xs:element name="Setup" nillable="true" type="SetupType"/>

  <xs:complexType name="SetupType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accounts" type="ArrayOfAccount"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
