v2.02/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Invoice"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="Payment.xsd" />
  <xs:include schemaLocation="Contact.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  <xs:include schemaLocation="LineItem.xsd" />
  <xs:include schemaLocation="DocumentBase.xsd" />

  <xs:element name="Invoices" nillable="true" type="ArrayOfInvoice" />

  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="Invoice" />
    </xs:sequence>
  </xs:complexType> 
  
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension base="DocumentBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceID" type="uniqueIdentifier" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Payments" type="ArrayOfPayment" />
          <xs:element minOccurs="0" maxOccurs="1" name="AmountDue" nillable="true" type="itemPrice" />
          <xs:element minOccurs="0" maxOccurs="1" name="AmountPaid" nillable="true" type="itemPrice" />
          <xs:element minOccurs="0" maxOccurs="1" name="AmountCredited" nillable="true" type="itemPrice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  
</xs:schema>